@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
  font-family: 'Roboto', Verdana;
  background: #5c258d;
  background: -webkit-linear-gradient(to left, #5c258d, #4389a2);
  background: linear-gradient(to left, #5c258d, #4389a2);
}

.todo{
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  background: #f7f7f7;
  margin: 100px auto;
  width: 360px;
}

.todo__header{
  background: #2980b9;
  color: white;
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.todo__header .fa-plus{
  float: right;
}

.todo__input{
  font-size: 18px;
  color: #2980b9;
  background: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.todo__input:focus{
  background: white;
  border: 3px solid  #2980b9;
  outline: none;
}

.todo__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo__item{
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
}

.todo__item:nth-child(2n){
  background: #f7f7f7;
}

.todo__item--completed{
  color: gray;
  text-decoration: line-through;
}

.todo__remove{
  transition: .2s linear;
  display: inline-block;;
  background: #e74c3c;
  margin-right: 20px;
  text-align: center;
  color: white;
  height: 40px;
  width: 0;
  opacity: 0;
}

.todo__item:hover .todo__remove{
  width: 40px;
  opacity: 1;
}
